  * {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    position: relative;
  }
  
  .calc {
    width: 400px;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 3rem;
  }
  
  .screen {
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    padding: 20px 5px;
  }
  
  .calc-button {
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
  }
  
  .calc-button:hover {
    background-color: #ebebeb;
  }
  
  .calc-button:active {
    background-color: #bbbcbe;
  }
  
  .double {
    width: 49.7%;
  }
  
  .triple {
    width: 74.8%;
  }
  
  .calc-button:last-child {
    background-color: #df974c;
    color: white;
  }
  
  .calc-button:last-child:hover {
    background-color: #dfb07e;
  }
  
  .calc-button:last-child:active {
    background-color: #dd8d37;
  }
  
  .calc-button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
  }
  
  .calc-button-row:last-child {
    padding-bottom: 0;
  }
  #backhome{
    border: 2px solid black;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    margin: 2rem 0 0 2rem;
    background-color: #d8d9db;
    width: fit-content;
  }
  #backhome a {
    text-decoration: none;
    color: black;
    font-family: "Courier New", Courier, monospace;
  }
  #backhome:hover{
    background-color: #e3b584;
    transition: .5s ease-in-out;
  }
